<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   github의 [exam.csv 파일](https://github.com/JakeOh/202504_itwill_oracle88/blob/main/exam.csv)을 다운로드.
*   Colab 연결(세션 활성화).
*   Colab에 Google Drive 마운트(mount, 연결).
*   개인 계정의 Google Drive에 exam.csv 파일을 업로드.

In [8]:
file_path = '/content/drive/MyDrive/Colab Notebooks/202505_oracle88/exam.csv'

1. exam.csv 파일을 open
1. 파일의 첫번째 줄은 컬럼 이름들이기 때문에, 첫번째 줄은 읽고 무시.
1. 파일의 두번째 줄부터 파일 끝(EOF)까지 4번 내용을 반복.
1. 각 줄에서 읽은 내용을 쉼표(,)로 분리한 리스트를 빈 리스트에 append.
> `[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ...]`
1. 4번에서 만들어진 2차원 리스트는 문자열들을 저장하고 있는 리스트이기 때문에, 리스트의 모든 값들을 정수(int)로 변환
> `[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], ...]`
1. 수학 점수들로만 이루어진 1차원 리스트를 만듦.
> `[50, 60, ...]`
1. 수학 점수의 최댓값, 최솟값, 평균 출력.
1. 1반 학생들의 수학 점수 총점, 평균, 최댓값, 최솟값 출력

# 1.

In [22]:
with open(file_path) as f:  # 파일을 읽기 모드로 열기.
    f.readline()  # 파일의 첫번째 줄을 읽음.
    exam = []  # 파일에서 읽은 값들을 저장할 빈 리스트.
    for line in f:  # 파일의 두번째 줄부터 파일 끝까지 한 줄씩 읽음.
        # 한 줄 읽은 문자열에서 앞/뒤 공백(줄바꿈)을 제거한 후,
        # ','로 구분해서 문자열들의 배열을 만들고, 배열 exam에 추가.
        exam.append(line.strip().split(','))

exam

[['1', '1', '50', '98', '50'],
 ['2', '1', '60', '97', '60'],
 ['3', '1', '45', '86', '78'],
 ['4', '1', '30', '98', '58'],
 ['5', '2', '25', '80', '65'],
 ['6', '2', '50', '89', '98'],
 ['7', '2', '80', '90', '45'],
 ['8', '2', '90', '78', '25'],
 ['9', '3', '20', '98', '15'],
 ['10', '3', '50', '98', '45'],
 ['11', '3', '65', '65', '65'],
 ['12', '3', '45', '85', '32'],
 ['13', '4', '46', '98', '65'],
 ['14', '4', '48', '87', '12'],
 ['15', '4', '75', '56', '78'],
 ['16', '4', '58', '98', '65'],
 ['17', '5', '65', '68', '98'],
 ['18', '5', '80', '78', '90'],
 ['19', '5', '89', '68', '87'],
 ['20', '5', '78', '83', '58']]

In [25]:
for i, row in enumerate(exam):
    for j, val in enumerate(row):
        exam[i][j] = int(val)

exam

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [26]:
array = ['1', '2', '3']
for x in array:
    x = int(x)  # array의 값을 변경하지 못함!
print(array)

['1', '2', '3']

In [28]:
array = ['1', '2', '3']
for i, x in enumerate(array):
    array[i] = int(x)  # array의 값을 변경!
print(array)

[1, 2, 3]

In [29]:
# step 1 ~ step 5
with open(file_path) as f:
    f.readline()
    exam = []
    for line in f:
        row = line.strip().split(',')
        student = [int(x) for x in row]
        exam.append(student)

exam

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [34]:
# math = []  # 수학 점수들만 저장할 리스트.
# for row in exam:
#     math.append(row[2])

math = [row[2] for row in exam]

print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [35]:
print('수학 점수 최고값:', max(math))
print('수학 점수 최저값:', min(math))
print('수학 점수 평균:', sum(math) / len(math))

수학 점수 최고값: 90
수학 점수 최저값: 20
수학 점수 평균: 57.45

In [37]:
# math_class1 = []  # 1반(class=1) 학생들의 수학 점수를 저장할 리스트.
# for row in exam:
#     if row[1] == 1:  # class=1인 경우
#         math_class1.append(row[2])

math_class1 = [row[2] for row in exam if row[1] == 1]

math_class1

[50, 60, 45, 30]

In [38]:
print('1반 수학 점수 총점:', sum(math_class1))
print('1반 수학 점수 평균:', sum(math_class1) / len(math_class1))
print('1반 수학 점수 최댓값:', max(math_class1))
print('1반 수학 점수 최솟값:', min(math_class1))

1반 수학 점수 총점: 185
1반 수학 점수 평균: 46.25
1반 수학 점수 최댓값: 60
1반 수학 점수 최솟값: 30

In [40]:
def mean_by_class(cls):
    math_by_class = [row[2] for row in exam if row[1] == cls]
    mean = sum(math_by_class) / len(math_by_class)
    print(f'{cls}반 수학 평균 = {mean}')

In [44]:
for x in range(1, 6):
    mean_by_class(x)

1반 수학 평균 = 46.25
2반 수학 평균 = 61.25
3반 수학 평균 = 45.0
4반 수학 평균 = 56.75
5반 수학 평균 = 78.0

# 2.

In [45]:
class Student:
    def __init__(self, id, cls, math, english, science):
        self.id = int(id)
        self.cls = int(cls)
        self.math = int(math)
        self.english = int(english)
        self.science = int(science)

    def __str__(self):
        return f'Student(id={self.id}, class={self.cls}, math={self.math}, english={self.english}, science={self.science})'

    def __repr__(self):
        return self.__str__()

In [48]:
exam2 = []
with open(file_path) as f:
    f.readline()
    for line in f:
        row = line.strip().split(',')
        student = Student(row[0], row[1], row[2], row[3], row[4])
        exam2.append(student)

exam2  #> Student 객체들을 아이템으로 갖는 리스트.

[Student(id=1, class=1, math=50, english=98, science=50),
 Student(id=2, class=1, math=60, english=97, science=60),
 Student(id=3, class=1, math=45, english=86, science=78),
 Student(id=4, class=1, math=30, english=98, science=58),
 Student(id=5, class=2, math=25, english=80, science=65),
 Student(id=6, class=2, math=50, english=89, science=98),
 Student(id=7, class=2, math=80, english=90, science=45),
 Student(id=8, class=2, math=90, english=78, science=25),
 Student(id=9, class=3, math=20, english=98, science=15),
 Student(id=10, class=3, math=50, english=98, science=45),
 Student(id=11, class=3, math=65, english=65, science=65),
 Student(id=12, class=3, math=45, english=85, science=32),
 Student(id=13, class=4, math=46, english=98, science=65),
 Student(id=14, class=4, math=48, english=87, science=12),
 Student(id=15, class=4, math=75, english=56, science=78),
 Student(id=16, class=4, math=58, english=98, science=65),
 Student(id=17, class=5, math=65, english=68, science=98),
 Student(id=18, class=5, math=80, english=78, science=90),
 Student(id=19, class=5, math=89, english=68, science=87),
 Student(id=20, class=5, math=78, english=83, science=58)]

In [53]:
# math2 = []
# for x in exam2:
#     math2.append(x.math)

math2 = [x.math for x in exam2]

print(math2)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [54]:
print('수학 점수 최댓값:', max(math2))
print('수학 점수 최솟값:', min(math2))
print('수학 점수 평균:', sum(math2) / len(math2))

수학 점수 최댓값: 90
수학 점수 최솟값: 20
수학 점수 평균: 57.45

In [55]:
math2_class1 = []
for x in exam2:
    if x.cls == 1:
        math2_class1.append(x.math)

print(math2_class1)

[50, 60, 45, 30]

In [58]:
def subject_mean_by_class(subject, cls):
    """
    반 별로 과목의 평균 점수를 계산해서 출력.

    @param subject: 과목 이름. 'math', 'english', 'science' 중 하나.
    @param cls: 반 번호. 1 ~ 5.
    """
    score = []  # 반 별 과목의 점수들을 저장할 리스트.
    for student in exam2:
        if student.cls == cls:
            match subject:
                case 'math':
                    score.append(student.math)
                case 'english':
                    score.append(student.english)
                case 'science:':
                    score.append(student.science)

    print(score)
    mean = sum(score) / len(score)
    print(f'{cls}반 {subject} 점수 평균 = ', mean)

In [59]:
subject_mean_by_class('math', 1)

[50, 60, 45, 30]
1반 math 점수 평균 =  46.25

# 3.

In [60]:
import pandas as pd  # pandas 모듈을 pd 별명으로 사용

In [61]:
print(pd.__version__)

2.2.2

In [62]:
exam_df = pd.read_csv(file_path)
print(type(exam_df))  #> DataFrame 클래스 타입

<class 'pandas.core.frame.DataFrame'>

In [63]:
print(exam_df)

    id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [64]:
exam_df

    id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [65]:
exam_df.describe()

             id      class       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

In [67]:
class1 = exam_df[exam_df['class'] == 1]  # DatatFrame에서 class=1인 행들을 선택
class1

   id  class  math  english  science
0   1      1    50       98       50
1   2      1    60       97       60
2   3      1    45       86       78
3   4      1    30       98       58

In [68]:
class1.describe()

             id  class   math   english    science
count  4.000000    4.0   4.00   4.00000   4.000000
mean   2.500000    1.0  46.25  94.75000  61.500000
std    1.290994    0.0  12.50   5.85235  11.818065
min    1.000000    1.0  30.00  86.00000  50.000000
25%    1.750000    1.0  41.25  94.25000  56.000000
50%    2.500000    1.0  47.50  97.50000  59.000000
75%    3.250000    1.0  52.50  98.00000  64.500000
max    4.000000    1.0  60.00  98.00000  78.000000

In [72]:
exam_df['math']  # DataFrame에서 'math' 컬럼만 선택

0     50
1     60
2     45
3     30
4     25
5     50
6     80
7     90
8     20
9     50
10    65
11    45
12    46
13    48
14    75
15    58
16    65
17    80
18    89
19    78
Name: math, dtype: int64