<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object).**

*   객체: 숫자(int, float), 문자열(str), 논리값(True/Flase), list, dict, tuple, ...
*   함수는 변수에 할당할 수 있음.
*   함수의 아규먼트로 함수를 전달할 수 있음.
*   함수의 반환값으로 함수를 사용할 수 있음.
*   함수 내부에서 또다른 함수를 선언할 수 있음.

In [1]:
x = 1  # 정수 1을 변수 x에 할당(저장)
print(x)  # 정수를 함수의 아규먼트로 전달.

1

In [2]:
result = len('안녕!')  # len() 함수는 정수를 리턴.
print(result)

3

In [3]:
def double(x):
    return 2 * x

In [4]:
result = double(5)  # 함수 double을 호출하고 그 반환값을 변수 result에 저장
print(result)

10

In [5]:
print(double(3))  # 함수 double을 호출하고 그 결과를 출력

6

In [6]:
print(double)  # double 이름의 함수 객체를 문자열로 표현해서 출력. 함수를 호출한 게 아님.

<function double at 0x79903c41d800>

## 함수를 변수에 할당

In [7]:
twice = double  # 함수 호출이 아니고, double 함수 객체를 변수 twice에 할당(저장)
print(twice)

<function double at 0x79903c41d800>

In [8]:
print(twice(10))  # twice() 함수 호출은 double() 함수 호출과 동일.

20

## 아규먼트로 함수를 전달받는 함수

In [9]:
def calculator(x, y, fn):
    result = fn(x, y)

    return result

In [10]:
def plus(x, y):
    return x + y

In [11]:
result = calculator(1, 2, plus)
print(result)

3

In [12]:
def minus(x, y):
    return x - y

result = calculator(1, 2, minus)
print(result)

-1

In [13]:
def is_greater(x, y):
    return x > y

result = calculator(1, 2, is_greater)
print(result)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inner function), 지역 함수(local function):

*   함수 내부에서 선언된 함수.
*   선언된 함수 내부에서만 호출할 수 있음.
*   선언된 함수 외부에서는 호출할 수 없음.
*   외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음!

In [16]:
def make_incrementor(n):
    # 내부 함수(지역 함수)
    def add_n(x):
        return x + n

    # 함수 객체를 리턴.
    return add_n

In [20]:
plus_2 = make_incrementor(2)
print(plus_2)
result = plus_2(10)
print(result)

<function make_incrementor.<locals>.add_n at 0x79900b4f1800>
12

In [21]:
plus_10 = make_incrementor(10)
result = plus_10(100)
print(result)

110

In [22]:
result = make_incrementor(100)(123)
print(result)

223