<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# DataFrame Merge(Join)

In [2]:
emp = pd.DataFrame(data={
    'empno': [100, 101, 200, 201],
    'ename': ['홍길동', '오쌤', 'Scott', 'King'],
    'deptno': [10, 10, 20, 40]
})
emp

   empno  ename  deptno
0    100    홍길동      10
1    101     오쌤      10
2    200  Scott      20
3    201   King      40

In [3]:
dept = pd.DataFrame(data={
    'deptno': [10, 20, 30],
    'dname': ['IT', 'HR', 'Sales']
})
dept

   deptno  dname
0      10     IT
1      20     HR
2      30  Sales

*   `pd.merge(df1, df2, how, on, ...)` 함수(function)
*   `pd.DataFrame.merge(df, how, on, ..)` 메서드(method)
*   `how` 파라미터: merge(join) 방식 설정.
    *   inner, left, right, outer
    *   merge의 기본값은 inner. how='inner' 생략 가능.
*   `on` 파라미터: merge(join)의 기준이 되는 컬럼(컬럼들의 리스트)를 설정.
    *   merge(join)를 하려는 2개의 데이터프레임에서 컬럼 이름이 같은 경우에는 on 파라미터 설정을 생략 가능.

## inner join

In [5]:
pd.merge(emp, dept)
# how='inner', on='deptno' 생략

   empno  ename  deptno dname
0    100    홍길동      10    IT
1    101     오쌤      10    IT
2    200  Scott      20    HR

In [6]:
emp.merge(dept)

   empno  ename  deptno dname
0    100    홍길동      10    IT
1    101     오쌤      10    IT
2    200  Scott      20    HR

In [7]:
dept.merge(emp)

   deptno dname  empno  ename
0      10    IT    100    홍길동
1      10    IT    101     오쌤
2      20    HR    200  Scott

## left (outer) join

In [8]:
pd.merge(emp, dept, how='left')

   empno  ename  deptno dname
0    100    홍길동      10    IT
1    101     오쌤      10    IT
2    200  Scott      20    HR
3    201   King      40   NaN

## rigth (outer) join

In [9]:
pd.merge(emp, dept, how='right')

   empno  ename  deptno  dname
0  100.0    홍길동      10     IT
1  101.0     오쌤      10     IT
2  200.0  Scott      20     HR
3    NaN    NaN      30  Sales

## (full) outer join

In [10]:
pd.merge(emp, dept, how='outer')

   empno  ename  deptno  dname
0  100.0    홍길동      10     IT
1  101.0     오쌤      10     IT
2  200.0  Scott      20     HR
3    NaN    NaN      30  Sales
4  201.0   King      40    NaN

## merge(join) 기준이 되는 컬럼 이름이 다른 경우

In [12]:
emp

   empno  ename  deptno
0    100    홍길동      10
1    101     오쌤      10
2    200  Scott      20
3    201   King      40

In [11]:
dept = pd.DataFrame(data={
    'dno': [10, 20, 30],
    'dname': ['IT', 'HR', 'Sales']
})
dept

   dno  dname
0   10     IT
1   20     HR
2   30  Sales

In [13]:
pd.merge(emp, dept, left_on='deptno', right_on='dno')

   empno  ename  deptno  dno dname
0    100    홍길동      10   10    IT
1    101     오쌤      10   10    IT
2    200  Scott      20   20    HR

## merge 연습문제

In [14]:
# 사번, 이름, 업무, 매니저 사번, 입사날짜, 급여, 수당, 부서번호
emp_col_names = ['empno', 'ename', 'job', 'mgr', 'hiredate', 'sal', 'comm', 'deptno']
emp_file = 'https://raw.githubusercontent.com/JakeOh/202504_itwill_oracle88/refs/heads/main/emp.csv'

In [17]:
# emp_file을 읽어서 데이터프레임을 생성.
emp = pd.read_csv(emp_file, names=emp_col_names)
emp

,empno,ename,job,mgr,hiredate,sal,comm,deptno
0,7369,SMITH,CLERK,7902.0,1980-12-17 00:00:00,800.0,NaN,20
1,7499,ALLEN,SALESMAN,7698.0,1981-02-20 00:00:00,1600.0,300.0,30
2,7521,WARD,SALESMAN,7698.0,1981-02-22 00:00:00,1250.0,500.0,30
3,7566,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20
4,7654,MARTIN,SALESMAN,7698.0,1981-09-28 00:00:00,1250.0,1400.0,30
5,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30
6,7782,CLARK,MANAGER,7839.0,1981-06-09 00:00:00,2450.0,NaN,10
7,7788,SCOTT,ANALYST,7566.0,1987-04-19 00:00:00,3000.0,NaN,20
8,7839,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10
9,7844,TURNER,SALESMAN,7698.0,1981-09-08 00:00:00,1500.0,0.0,30
10,7876,ADAMS,CLERK,7788.0,1987-05-23 00:00:00,1100.0,NaN,20
11,7900,JAMES,CLERK,7698.0,1981-12-03 00:00:00,950.0,NaN,30
12,7902,FORD,ANALYST,7566.0,1981-12-03 00:00:00,3000.0,NaN,20
13,7934,MILLER,CLERK,7782.0,1982-01-23 00:00:00,1300.0,NaN,10

In [18]:
# 부서번호, 부서이름, 부서위치
dept_col_names = ['deptno', 'dname', 'loc']
dept_file = 'https://raw.githubusercontent.com/JakeOh/202504_itwill_oracle88/refs/heads/main/dept.csv'

In [20]:
# dept_file을 읽어서 데이터프레임을 생성.
dept = pd.read_csv(dept_file, names=dept_col_names)
dept

   deptno       dname       loc
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

*   emp, dept 데이터프레임에서 inner, left, right, outer join의 결과를 확인하세요.

In [21]:
# inner join
pd.merge(emp, dept)

,empno,ename,job,mgr,hiredate,sal,comm,deptno,dname,loc
0,7369,SMITH,CLERK,7902.0,1980-12-17 00:00:00,800.0,NaN,20,RESEARCH,DALLAS
1,7499,ALLEN,SALESMAN,7698.0,1981-02-20 00:00:00,1600.0,300.0,30,SALES,CHICAGO
2,7521,WARD,SALESMAN,7698.0,1981-02-22 00:00:00,1250.0,500.0,30,SALES,CHICAGO
3,7566,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20,RESEARCH,DALLAS
4,7654,MARTIN,SALESMAN,7698.0,1981-09-28 00:00:00,1250.0,1400.0,30,SALES,CHICAGO
5,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30,SALES,CHICAGO
6,7782,CLARK,MANAGER,7839.0,1981-06-09 00:00:00,2450.0,NaN,10,ACCOUNTING,NEW YORK
7,7788,SCOTT,ANALYST,7566.0,1987-04-19 00:00:00,3000.0,NaN,20,RESEARCH,DALLAS
8,7839,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10,ACCOUNTING,NEW YORK
9,7844,TURNER,SALESMAN,7698.0,1981-09-08 00:00:00,1500.0,0.0,30,SALES,CHICAGO
10,7876,ADAMS,CLERK,7788.0,1987-05-23 00:00:00,1100.0,NaN,20,RESEARCH,DALLAS
11,7900,JAMES,CLERK,7698.0,1981-12-03 00:00:00,950.0,NaN,30,SALES,CHICAGO
12,7902,FORD,ANALYST,7566.0,1981-12-03 00:00:00,3000.0,NaN,20,RESEARCH,DALLAS
13,7934,MILLER,CLERK,7782.0,1982-01-23 00:00:00,1300.0,NaN,10,ACCOUNTING,NEW YORK

In [22]:
# left (outer) join
pd.merge(emp, dept, how='left')

,empno,ename,job,mgr,hiredate,sal,comm,deptno,dname,loc
0,7369,SMITH,CLERK,7902.0,1980-12-17 00:00:00,800.0,NaN,20,RESEARCH,DALLAS
1,7499,ALLEN,SALESMAN,7698.0,1981-02-20 00:00:00,1600.0,300.0,30,SALES,CHICAGO
2,7521,WARD,SALESMAN,7698.0,1981-02-22 00:00:00,1250.0,500.0,30,SALES,CHICAGO
3,7566,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20,RESEARCH,DALLAS
4,7654,MARTIN,SALESMAN,7698.0,1981-09-28 00:00:00,1250.0,1400.0,30,SALES,CHICAGO
5,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30,SALES,CHICAGO
6,7782,CLARK,MANAGER,7839.0,1981-06-09 00:00:00,2450.0,NaN,10,ACCOUNTING,NEW YORK
7,7788,SCOTT,ANALYST,7566.0,1987-04-19 00:00:00,3000.0,NaN,20,RESEARCH,DALLAS
8,7839,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10,ACCOUNTING,NEW YORK
9,7844,TURNER,SALESMAN,7698.0,1981-09-08 00:00:00,1500.0,0.0,30,SALES,CHICAGO
10,7876,ADAMS,CLERK,7788.0,1987-05-23 00:00:00,1100.0,NaN,20,RESEARCH,DALLAS
11,7900,JAMES,CLERK,7698.0,1981-12-03 00:00:00,950.0,NaN,30,SALES,CHICAGO
12,7902,FORD,ANALYST,7566.0,1981-12-03 00:00:00,3000.0,NaN,20,RESEARCH,DALLAS
13,7934,MILLER,CLERK,7782.0,1982-01-23 00:00:00,1300.0,NaN,10,ACCOUNTING,NEW YORK

In [23]:
# right (outer) join
pd.merge(emp, dept, how='right')

,empno,ename,job,mgr,hiredate,sal,comm,deptno,dname,loc
0,7782.0,CLARK,MANAGER,7839.0,1981-06-09 00:00:00,2450.0,NaN,10,ACCOUNTING,NEW YORK
1,7839.0,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10,ACCOUNTING,NEW YORK
2,7934.0,MILLER,CLERK,7782.0,1982-01-23 00:00:00,1300.0,NaN,10,ACCOUNTING,NEW YORK
3,7369.0,SMITH,CLERK,7902.0,1980-12-17 00:00:00,800.0,NaN,20,RESEARCH,DALLAS
4,7566.0,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20,RESEARCH,DALLAS
5,7788.0,SCOTT,ANALYST,7566.0,1987-04-19 00:00:00,3000.0,NaN,20,RESEARCH,DALLAS
6,7876.0,ADAMS,CLERK,7788.0,1987-05-23 00:00:00,1100.0,NaN,20,RESEARCH,DALLAS
7,7902.0,FORD,ANALYST,7566.0,1981-12-03 00:00:00,3000.0,NaN,20,RESEARCH,DALLAS
8,7499.0,ALLEN,SALESMAN,7698.0,1981-02-20 00:00:00,1600.0,300.0,30,SALES,CHICAGO
9,7521.0,WARD,SALESMAN,7698.0,1981-02-22 00:00:00,1250.0,500.0,30,SALES,CHICAGO
10,7654.0,MARTIN,SALESMAN,7698.0,1981-09-28 00:00:00,1250.0,1400.0,30,SALES,CHICAGO
11,7698.0,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30,SALES,CHICAGO
12,7844.0,TURNER,SALESMAN,7698.0,1981-09-08 00:00:00,1500.0,0.0,30,SALES,CHICAGO
13,7900.0,JAMES,CLERK,7698.0,1981-12-03 00:00:00,950.0,NaN,30,SALES,CHICAGO
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,OPERATIONS,BOSTON

In [24]:
# (full) outer join
pd.merge(emp, dept, how='outer')

,empno,ename,job,mgr,hiredate,sal,comm,deptno,dname,loc
0,7782.0,CLARK,MANAGER,7839.0,1981-06-09 00:00:00,2450.0,NaN,10,ACCOUNTING,NEW YORK
1,7839.0,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10,ACCOUNTING,NEW YORK
2,7934.0,MILLER,CLERK,7782.0,1982-01-23 00:00:00,1300.0,NaN,10,ACCOUNTING,NEW YORK
3,7369.0,SMITH,CLERK,7902.0,1980-12-17 00:00:00,800.0,NaN,20,RESEARCH,DALLAS
4,7566.0,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20,RESEARCH,DALLAS
5,7788.0,SCOTT,ANALYST,7566.0,1987-04-19 00:00:00,3000.0,NaN,20,RESEARCH,DALLAS
6,7876.0,ADAMS,CLERK,7788.0,1987-05-23 00:00:00,1100.0,NaN,20,RESEARCH,DALLAS
7,7902.0,FORD,ANALYST,7566.0,1981-12-03 00:00:00,3000.0,NaN,20,RESEARCH,DALLAS
8,7499.0,ALLEN,SALESMAN,7698.0,1981-02-20 00:00:00,1600.0,300.0,30,SALES,CHICAGO
9,7521.0,WARD,SALESMAN,7698.0,1981-02-22 00:00:00,1250.0,500.0,30,SALES,CHICAGO
10,7654.0,MARTIN,SALESMAN,7698.0,1981-09-28 00:00:00,1250.0,1400.0,30,SALES,CHICAGO
11,7698.0,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30,SALES,CHICAGO
12,7844.0,TURNER,SALESMAN,7698.0,1981-09-08 00:00:00,1500.0,0.0,30,SALES,CHICAGO
13,7900.0,JAMES,CLERK,7698.0,1981-12-03 00:00:00,950.0,NaN,30,SALES,CHICAGO
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,OPERATIONS,BOSTON

부서별 급여 평균

In [25]:
emp.groupby(by=['deptno']).sal.mean()

deptno
10    2916.666667
20    2175.000000
30    1566.666667
Name: sal, dtype: float64

In [27]:
emp_dept = pd.merge(emp, dept)  # inner join
emp_dept.groupby(by=['deptno', 'dname']).sal.mean()

deptno  dname
10      ACCOUNTING    2916.666667
20      RESEARCH      2175.000000
30      SALES         1566.666667
Name: sal, dtype: float64

Self-Join: 직원과 매니저 정보를 하나의 데이터 프레임으로 merge(join)

In [28]:
pd.merge(emp, emp, left_on='mgr', right_on='empno')

,empno_x,ename_x,job_x,mgr_x,hiredate_x,sal_x,comm_x,deptno_x,empno_y,ename_y,job_y,mgr_y,hiredate_y,sal_y,comm_y,deptno_y
0,7369,SMITH,CLERK,7902.0,1980-12-17 00:00:00,800.0,NaN,20,7902,FORD,ANALYST,7566.0,1981-12-03 00:00:00,3000.0,NaN,20
1,7499,ALLEN,SALESMAN,7698.0,1981-02-20 00:00:00,1600.0,300.0,30,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30
2,7521,WARD,SALESMAN,7698.0,1981-02-22 00:00:00,1250.0,500.0,30,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30
3,7566,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20,7839,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10
4,7654,MARTIN,SALESMAN,7698.0,1981-09-28 00:00:00,1250.0,1400.0,30,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30
5,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30,7839,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10
6,7782,CLARK,MANAGER,7839.0,1981-06-09 00:00:00,2450.0,NaN,10,7839,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10
7,7788,SCOTT,ANALYST,7566.0,1987-04-19 00:00:00,3000.0,NaN,20,7566,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20
8,7844,TURNER,SALESMAN,7698.0,1981-09-08 00:00:00,1500.0,0.0,30,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30
9,7876,ADAMS,CLERK,7788.0,1987-05-23 00:00:00,1100.0,NaN,20,7788,SCOTT,ANALYST,7566.0,1987-04-19 00:00:00,3000.0,NaN,20
10,7900,JAMES,CLERK,7698.0,1981-12-03 00:00:00,950.0,NaN,30,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30
11,7902,FORD,ANALYST,7566.0,1981-12-03 00:00:00,3000.0,NaN,20,7566,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20
12,7934,MILLER,CLERK,7782.0,1982-01-23 00:00:00,1300.0,NaN,10,7782,CLARK,MANAGER,7839.0,1981-06-09 00:00:00,2450.0,NaN,10

In [29]:
pd.merge(emp, emp, how='left', left_on='mgr', right_on='empno')

,empno_x,ename_x,job_x,mgr_x,hiredate_x,sal_x,comm_x,deptno_x,empno_y,ename_y,job_y,mgr_y,hiredate_y,sal_y,comm_y,deptno_y
0,7369,SMITH,CLERK,7902.0,1980-12-17 00:00:00,800.0,NaN,20,7902.0,FORD,ANALYST,7566.0,1981-12-03 00:00:00,3000.0,NaN,20.0
1,7499,ALLEN,SALESMAN,7698.0,1981-02-20 00:00:00,1600.0,300.0,30,7698.0,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30.0
2,7521,WARD,SALESMAN,7698.0,1981-02-22 00:00:00,1250.0,500.0,30,7698.0,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30.0
3,7566,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20,7839.0,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10.0
4,7654,MARTIN,SALESMAN,7698.0,1981-09-28 00:00:00,1250.0,1400.0,30,7698.0,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30.0
5,7698,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30,7839.0,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10.0
6,7782,CLARK,MANAGER,7839.0,1981-06-09 00:00:00,2450.0,NaN,10,7839.0,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10.0
7,7788,SCOTT,ANALYST,7566.0,1987-04-19 00:00:00,3000.0,NaN,20,7566.0,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20.0
8,7839,KING,PRESIDENT,NaN,1981-11-17 00:00:00,5000.0,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7844,TURNER,SALESMAN,7698.0,1981-09-08 00:00:00,1500.0,0.0,30,7698.0,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30.0
10,7876,ADAMS,CLERK,7788.0,1987-05-23 00:00:00,1100.0,NaN,20,7788.0,SCOTT,ANALYST,7566.0,1987-04-19 00:00:00,3000.0,NaN,20.0
11,7900,JAMES,CLERK,7698.0,1981-12-03 00:00:00,950.0,NaN,30,7698.0,BLAKE,MANAGER,7839.0,1981-05-01 00:00:00,2850.0,NaN,30.0
12,7902,FORD,ANALYST,7566.0,1981-12-03 00:00:00,3000.0,NaN,20,7566.0,JONES,MANAGER,7839.0,1981-04-02 00:00:00,2975.0,NaN,20.0
13,7934,MILLER,CLERK,7782.0,1982-01-23 00:00:00,1300.0,NaN,10,7782.0,CLARK,MANAGER,7839.0,1981-06-09 00:00:00,2450.0,NaN,10.0