<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오류(Error)의 종류

In [2]:
# prnt('안녕하세요.')
#> 1번 라인을 실행하면, NameError: name 'prnt' is not defined

print('안녕하세요.')

안녕하세요.

In [4]:
# n = int('100.')
#> ValueError: invalid literal for int() with base 10: '100.'

n = int('100')

In [7]:
# print('200' + 100)
#> TypeError: can only concatenate str (not "int") to str

print('200' + '100')
print(200 + 100)

200100
300

In [11]:
numbers = [1, 2, 3, 4, 5]
# print(numbers[5])
#> IndexError: list index out of range

print(numbers[4])

5

프로그램의 코드를 실행 중에 오류(error)가 발생하는 경우 해결 방법:
*   오류가 발생한 코드 위치와 그 원인을 찾아서, 오류가 발생하지 않도록 코드를 수정.
*   오류가 발생하더라도 프로그램이 비정상적으로 종료되지 않고 계속 실행될 수 있도록 처리.

In [13]:
x = int(input('첫번째 정수 입력>>> '))
y = int(input('두번째 정수 입력>>> '))
z = x + y
print('x + y =', z)

첫번째 정수 입력>>> 10
두번째 정수 입력>>> 20.

ValueError: invalid literal for int() with base 10: '20.'