<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object).**

*   객체: 숫자(int, float), 문자열(str), 논리값(True/Flase), list, dict, tuple, ...
*   함수는 변수에 할당할 수 있음.
*   함수의 아규먼트로 함수를 전달할 수 있음.
*   함수의 반환값으로 함수를 사용할 수 있음.
*   함수 내부에서 또다른 함수를 선언할 수 있음.

In [1]:
x = 1  # 정수 1을 변수 x에 할당(저장)
print(x)  # 정수를 함수의 아규먼트로 전달.

1

In [2]:
result = len('안녕!')  # len() 함수는 정수를 리턴.
print(result)

3

In [3]:
def double(x):
    return 2 * x

In [4]:
result = double(5)  # 함수 double을 호출하고 그 반환값을 변수 result에 저장
print(result)

10

In [5]:
print(double(3))  # 함수 double을 호출하고 그 결과를 출력

6

In [6]:
print(double)  # double 이름의 함수 객체를 문자열로 표현해서 출력. 함수를 호출한 게 아님.

<function double at 0x7b8827774180>

## 함수를 변수에 할당

In [7]:
twice = double  # 함수 호출이 아니고, double 함수 객체를 변수 twice에 할당(저장)
print(twice)

<function double at 0x7b8827774180>

In [8]:
print(twice(10))  # twice() 함수 호출은 double() 함수 호출과 동일.

20

## 아규먼트로 함수를 전달받는 함수

In [9]:
def calculator(x, y, fn):
    result = fn(x, y)

    return result

In [10]:
def plus(x, y):
    return x + y

In [11]:
result = calculator(1, 2, plus)
print(result)

3

In [12]:
def minus(x, y):
    return x - y

result = calculator(1, 2, minus)
print(result)

-1

In [13]:
def is_greater(x, y):
    return x > y

result = calculator(1, 2, is_greater)
print(result)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inner function), 지역 함수(local function):

*   함수 내부에서 선언된 함수.
*   선언된 함수 내부에서만 호출할 수 있음.
*   선언된 함수 외부에서는 호출할 수 없음.
*   외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음!

In [14]:
def make_incrementor(n):
    # 내부 함수(지역 함수)
    def add_n(x):
        return x + n

    # 함수 객체를 리턴.
    return add_n

In [15]:
plus_2 = make_incrementor(2)
print(plus_2)
result = plus_2(10)
print(result)

<function make_incrementor.<locals>.add_n at 0x7b8827776840>
12

In [16]:
plus_10 = make_incrementor(10)
result = plus_10(100)
print(result)

110

In [17]:
result = make_incrementor(100)(123)
print(result)

223

# 람다 표현식(Lambda Expression)

*   문법
```
lambda param1, param2, ...: expression(식)
```

*   이름이 없는 함수
*   함수 이름 선언 없이, 함수 파라미터 선언과 반환값 또는 반환 식으로 함수를 정의(선언)하는 것.
*   람다 표현식은 변수에 할당할 수 있음. **함수의 아규먼트로 전달할 수 있음.**

In [19]:
# 함수 선언
# def plus_one(x):
#     return x + 1

# 람다 표현식
plus_one = lambda x: x + 1
print(plus_one)
print(plus_one(1))

<function <lambda> at 0x7b8806a545e0>
2

In [20]:
# def add(x, y):
#     return x + y

add = lambda x, y: x + y
print(add(100, 200))

300

함수 `calculator()`의 아규먼트로 람다 표현식을 전달

In [21]:
result = calculator(1, 2, lambda x, y: x + y)
print(result)

3

In [22]:
result = calculator(1, 2, lambda x, y: x - y)
print(result)

-1

In [23]:
result = calculator(2, 3, lambda x, y: x * y)
print(result)

6

In [24]:
result = calculator(1, 2, lambda x, y: x / y)
print(result)

0.5

## lambda를 아규먼트로 전달하는 예

*   filter: 조건을 만족하는 원소들로 이루어진 리스트를 리턴.
*   map: 원소들을 일정한 규칙에 따라서 다른 값으로 변환(매핑).

In [25]:
import random

In [26]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)

[9, 1, 2, 6, 7, 6, 7, 9, 5, 8]

리스트 numbers에서 짝수들만 필터링한 리스트.

In [28]:
# filter(function, iterable): iterable의 원소를 function의 아규먼트로 전달했을 때 True를 리턴하는 값들로 이루어진 filter 객체를 리턴.
evens = filter(lambda x: x % 2 == 0, numbers)
result = list(evens)  # 필터링된 객체를 리스트(list) 타입으로 변환.
print(result)

[2, 6, 6, 8]

리스트 numbers 원소들의 제곱으로 이루어진 리스트.

In [30]:
# map(function, iterable): iterable의 원소들을 function의 아규먼트로 전달해서 function이 리턴해 주는 값들로 이루어진 map 객체를 리턴.
squares = map(lambda x: x ** 2, numbers)
result = list(squares)  # 매핑(변환)된 객체를 리스트 타입으로 변환.
print(result)

[81, 1, 4, 36, 49, 36, 49, 81, 25, 64]

연습문제 1.
*   [-10, 10] 범위의 난수 10개를 원소로 갖는 리스트를 만듦.
*   위의 리스트에서 음수들만 필터링한 리스트를 만들고 출력.
*   홀수들만 필터링한 리스트를 만들고 출력.

In [34]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
print(numbers)

[-8, -10, 4, -9, 7, 4, -3, 7, -1, 9]

In [35]:
negatives = filter(lambda x: x < 0, numbers)
print(list(negatives))  # 필터링한 객체를 리스트로 변환해서 출력

[-8, -10, -9, -3, -1]

In [36]:
odds = filter(lambda x: x % 2 == 1, numbers)
print(list(odds))

[-9, 7, -3, 7, -1, 9]

연습문제 2.
*   [0, 100) 범위의 난수 10개를 원소로 갖는 리스트를 만듦.
*   위의 리스트의 원소가 짝수이면 'even', 홀수이면 'odd'로 매핑한 리스트를 만들고 출력.
*   리스트의 원소가 0 ~ 19이면 'teen', 20 ~ 59이면 'adult', 60 이상이면 'senior'로 매핑한 리스트를 만들고 출력.

In [37]:
numbers = [random.randrange(100) for _ in range(10)]
print(numbers)

[91, 6, 73, 3, 27, 68, 38, 22, 21, 55]

In [38]:
even_or_odd = map(lambda x: 'even' if x % 2 == 0 else 'odd', numbers)
print(list(even_or_odd))  # 매핑(변환)된 객체를 리스트로 변환해서 출력

['odd', 'even', 'odd', 'odd', 'odd', 'even', 'even', 'even', 'odd', 'odd']

In [41]:
age = 65
# if age < 20:
#     category = 'teen'
# elif age < 60:
#     category = 'adult'
# else:
#     category = 'senior'

category = 'teen' if age < 20 else ('adult' if age < 60 else 'senior')
print(category)

senior

In [43]:
result = map(lambda x: 'teen' if x < 20 else ('adult' if x < 60 else 'senior'), numbers)
print(list(result))

['senior', 'teen', 'senior', 'teen', 'adult', 'senior', 'adult', 'adult', 'adult', 'adult']