<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random  # 난수 생성 함수(들)을 사용하기 위해서(random.randrange, ...)
import math  # 수학 함수(들)을 사용하기 위해서(math.sqrt, ...)

# Ex 1.

아래의 리스트 fruits에 저장된 문자열들의 길이를 저장하는 리스트를 만들고 출력하세요.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'durian', 'watermellon']

# lengths = []
# for x in fruits:
#     lengths.append(len(x))

lengths = [len(x) for x in fruits]
print(lengths)

[5, 6, 6, 6, 11]

# Ex 2.

*   1 이상 4 이하 범위의 정수 난수 10개를 저장하는 리스트 gender_codes를 만들고 출력하세요.
*   gender_codes의 값이 1 또는 3이면 'Male', 2 또는 4이면 'Female'을 저장하는 리스트 genders를 만들고 출력하세요.

In [4]:
gender_codes = [random.randrange(1, 5) for _ in range(10)]
print(gender_codes)

genders = ['Male' if x == 1 or x == 3 else 'Female' for x in gender_codes]
print(genders)

[3, 1, 1, 2, 2, 3, 1, 4, 2, 4]
['Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female']

# Ex 3.

아래의 두 2차원 리스트 m1, m2에서 같은 인덱스에 있는 원소들끼리의 덧셈 결과를 저장하는 리스트를 만들고 출력하세요.

In [5]:
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]

result = []
for row1, row2 in zip(m1, m2):
    row_plus = []
    for x, y in zip(row1, row2):
        row_plus.append(x + y)
    result.append(row_plus)

print(result)

[[2, 3, 4], [6, 7, 8]]

In [6]:
result = []
for row1, row2 in zip(m1, m2):
    row_plus = [x + y for x, y in zip(row1, row2)]
    result.append(row_plus)

print(result)

[[2, 3, 4], [6, 7, 8]]

In [8]:
result = [[x + y for x, y in zip(row1, row2)]
          for row1, row2 in zip(m1, m2)]
print(result)

[[2, 3, 4], [6, 7, 8]]

# Ex 4.

1 이상 10 이하의 정수 5개를 저장하는 리스트 scores를 만들고 출력하세요.

In [9]:
num_of_items = 5

In [12]:
scores = [random.randrange(1, 11) for _ in range(num_of_items)]
print(scores)

[1, 2, 2, 2, 8]

# Ex 5.

문제 4에서 만든 리스트 scores의 원소들의 합계를 계산하고 출력하세요.

In [13]:
total = sum(scores)
print(total)

15

In [14]:
total = 0
for x in scores:
    total += x

print(total)

15

# Ex 6.

문제 4에서 만든 리스트 scores의 원소들의 평균을 계산하고 출력하세요.

In [15]:
mean = total / num_of_items
print(mean)

3.0

# Ex 7.

문제 4에서 만든 리스트 scores의 원소들의 분산을 계산하고 출력하세요.

In [18]:
# variations = []
# for x in scores:
#     variations.append((x - mean) ** 2)

variations = [(x - mean) ** 2 for x in scores]
print(variations)

var = sum(variations) / (num_of_items - 1)
print(var)

[4.0, 1.0, 1.0, 1.0, 25.0]
8.0

# Ex 8.

문제 4에서 만든 리스트 scores의 원소들의 표준편차를 계산하고 출력하세요.

In [19]:
std = math.sqrt(var)
print(std)

2.8284271247461903

# Ex 9.

문제 4에서 만든 리스트 scores에서 최댓값을 찾고 출력하세요.

In [20]:
max(scores)

8

In [22]:
max_scores = scores[0]  # 리스트의 첫번째 값을 최댓값이라고 가정
for x in scores:  # 리스트의 모든 원소들을 처음부터 끝까지 순서대로 반복하면서
    if x > max_scores:  # 리스트의 원소가 최댓값으로 가정한 값보다 크다면
        max_scores = x  # 리스트에서 찾은 값을 최댓값에 저장.

print(max_scores)

8

# EX 10.

문제 4에서 만든 리스트 scores에서 최솟값을 찾고 출력하세요.

In [21]:
min(scores)

1

In [23]:
min_scores = scores[0]  # 리스트 scores의 첫번째 원소를 최솟값이라고 가정
for x in scores:
    min_scores = x if x < min_scores else min_scores

print(min_scores)

1

*   리스트의 모든 원소의 합계

$$
sum = \sum_{i = 1}^{n} x_i = x_1 + x_2 + ... + x_n
$$

*   리스트의 모든 원소의 평균(mean)

$$
\bar{x} = \frac{1}{n} \sum_{i = 1}^{n} x_i
$$

*   리스트의 모든 원소의 분산(variance)

$$
var = \frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2
$$

*   리스트의 모든 원소의 표준편차(standard deviation)

$$
std = \sqrt{var}
    = \sqrt{\frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2}
$$