<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요한 모듈 import

In [1]:
import pandas as pd  # pandas 패키지를 pd라는 별명으로 사용.

# Series

*   한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스)
*   축(axis) 레이블을 가지고 있는 1차원 배열

In [2]:
s = pd.Series([1, 3, -5, -7])  # pd.Series 생성자 호출 -> Series 객체 생성

In [5]:
type(s)

pandas.core.series.Series

In [6]:
print(type(s))

<class 'pandas.core.series.Series'>

In [7]:
print(s)

0    1
1    3
2   -5
3   -7
dtype: int64

In [8]:
s

0    1
1    3
2   -5
3   -7
dtype: int64

In [9]:
s.index  # Series의 index 속성

RangeIndex(start=0, stop=4, step=1)

In [10]:
s.values  # Series의 values 속성

array([ 1,  3, -5, -7])