<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체지향 프로그래밍 배경

In [7]:
students = [
    {'name': '홍길동', 'korean': 90, 'english': 80, 'math': 70},
    {'name': '오쌤', 'korean': 77, 'english': 66, 'math': 80},
    {'name': 'Scott', 'korean': 50, 'english': 100, 'math': 95}
]

In [8]:
# 이름, 총점, 평균을 출력.
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f'이름: {s["name"]}, 총점: {total}, 평균:{mean}')
    # f"이름: {s['name']}, 총점: {total}, 평균: {mean}"

이름: 홍길동, 총점: 240, 평균:80.0
이름: 오쌤, 총점: 223, 평균:74.33333333333333
이름: Scott, 총점: 245, 평균:81.66666666666667

위의 프로그래밍 방식의 문제점은 dict의 키는 중복되지만 않게 만들면 되기 때문에, 반복문에서 총점과 평균을 계산하는 기능이 동작하지 않을 수도 있다.

## 함수형 프로그래밍(Functional Programming)

In [9]:
def create_student(name, korean, english, math):
    student = {'name': name,
               'korean': korean,
               'english': english,
               'math': math}

    return student

In [10]:
students = [
    create_student('홍길동', 90, 100, 80),
    create_student('오쌤', 50, 55, 65),
    create_student('Scott', 70, 100, 90)
]
print(students)

[{'name': '홍길동', 'korean': 90, 'english': 100, 'math': 80}, {'name': '오쌤', 'korean': 50, 'english': 55, 'math': 65}, {'name': 'Scott', 'korean': 70, 'english': 100, 'math': 90}]

In [11]:
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [12]:
def get_mean(student):
    return get_total(student) / 3

In [13]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)
    print(f"이름: {s['name']}, 총점: {total}, 평균: {mean}")

이름: 홍길동, 총점: 270, 평균: 90.0
이름: 오쌤, 총점: 170, 평균: 56.666666666666664
이름: Scott, 총점: 260, 평균: 86.66666666666667

총점을 계산하는 함수 get_total()과 평균을 계산하는 함수 get_mean()은 학생 dict와 매우 밀접한 관계를 가지고 있음.

데이터(국어, 영어, 수학)와 기능(총점, 평균 계산)이 밀접한 관계를 가지고 있음.

데이터와 기능을 하나로 묶을 수 있을까?

## 객체 지향 프로그래밍(Object-Oriented Programming)

*   객체(object): 프로그램에서 구현할 대상. 자료 구조.
*   클래스(class): 객체를 만들기 위한 설계도(코드).
    *   속성(attribute, property): 객체가 가져야할 데이터.
    *   메서드(method): 객체가 가져야할 기능. 클래스 내부에서 선언하는 함수.
*   인스턴스(instance): 메모리에 생성된 객체. 클래스 타입으로 생성된 객체.
*   생성자(constructor): 클래스 이름과 동일한 함수. 객체를 생성해 주는 함수.
    *   생성자를 호출하면 클래스에서 선언된 `__init__()` 메서드가 호출됨.

In [14]:
# 클래스 선언
class Student:
    # __init__() 메서드: 생성자를 호출했을 때 실행할 코드. 객체가 가져야 하는 속성의 값들을 초기화.
    def __init__(self, name, korean, english, math):
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 메서드: 클래스에서 선언하는 메서드.
    def get_total(self):
        return self.korean + self.english + self.math

    def get_mean(self):
        return self.get_total() / 3

In [17]:
student1 = Student('홍길동', 100, 80, 95)  # 생성자 호출. 객체 생성. 인스턴스 생성.
print(student1)
print('이름:', student1.name)
print('국어 점수:', student1.korean)
print('영어 점수:', student1.english)
print('수학 점수:', student1.math)
print('총점:', student1.get_total())
print('평균:', student1.get_mean())

<__main__.Student object at 0x7d522ad2a690>
이름: 홍길동
국어 점수: 100
영어 점수: 80
수학 점수: 95
총점: 275
평균: 91.66666666666667

In [18]:
student2 = Student('오쌤', 50, 45, 33)
print('이름:', student2.name)
print('국어 점수:', student2.korean)
print('영어 점수:', student2.english)
print('수학 점수:', student2.math)
print('총점:', student2.get_total())
print('평균:', student2.get_mean())

이름: 오쌤
국어 점수: 50
영어 점수: 45
수학 점수: 33
총점: 128
평균: 42.666666666666664