<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요한 모듈 import

In [1]:
import pandas as pd  # pandas 패키지를 pd라는 별명으로 사용.

# Series

*   한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스)
*   축(axis) 레이블을 가지고 있는 1차원 배열

In [2]:
s = pd.Series([1, 3, -5, -7])  # pd.Series 생성자 호출 -> Series 객체 생성

In [5]:
type(s)

pandas.core.series.Series

In [6]:
print(type(s))

<class 'pandas.core.series.Series'>

In [7]:
print(s)

0    1
1    3
2   -5
3   -7
dtype: int64

In [8]:
s

0    1
1    3
2   -5
3   -7
dtype: int64

In [9]:
s.index  # Series의 index 속성

RangeIndex(start=0, stop=4, step=1)

Series 객체를 생성할 때 index 파라미터를 설정하지 않으면 0부터 1씩 증가하는 정수들로 이루어진 인덱스가 자동으로 부여.

In [10]:
s.values  # Series의 values 속성

array([ 1,  3, -5, -7])

## indexing, slicing

`iloc` vs `loc`
*   `iloc`: 정수 인덱스 기반으로 원소를 참조. list의 인덱스를 사용하는 방법과 동일.
*   `loc`: 축 레이블 기반으로 원소를 참조.

In [11]:
s.iloc[0]  # Series의 첫번째 원소 참조(선택)

np.int64(1)

In [12]:
s.iloc[-1]  # Series의 마지막 원소 참조(선택)

np.int64(-7)

In [13]:
s.iloc[:2]  # slicing의 시작 인덱스 0은 생략 가능. 첫번째 원소부터 2번째 원소까지 slicing.

0    1
1    3
dtype: int64

In [ ]:
s.iloc[-2:]  # 마지막 2개 원소를 slicing. 음수 인덱스 사용 가능. 마지막 인덱스는 생략 가능.

In [14]:
s.loc[0]  # Series에서 레이블이 0인 원소를 참조.

np.int64(1)

In [15]:
s.loc[3]  # Series에서 레이블이 3인 원소를 참조.

np.int64(-7)

In [16]:
s.loc[-1]  #> ValueError, KeyError 발생 - 리스트처럼 자동으로 부여되는 음수 인덱스는 없음.

KeyError: -1

In [17]:
s.loc[:2]  # loc 속성을 사용할 때도 시작 인덱스(레이블)은 생략 가능. 마지막 인덱스(레이블)의 원소도 포함.

0    1
1    3
2   -5
dtype: int64

In [18]:
s2 = pd.Series(data=[1, 3, -5, -7, 9],
               index=['a', 'b', 'x', 'y', 'c'])

In [19]:
s2

a    1
b    3
x   -5
y   -7
c    9
dtype: int64

In [20]:
s2.index

Index(['a', 'b', 'x', 'y', 'c'], dtype='object')

In [21]:
s2.values

array([ 1,  3, -5, -7,  9])

In [22]:
s2.iloc[0]

np.int64(1)

In [23]:
s2.iloc[-1]

np.int64(9)

In [24]:
s2.loc['a']

np.int64(1)

In [25]:
s2.loc['c']

np.int64(9)

In [26]:
s2.iloc[:2]

a    1
b    3
dtype: int64

In [27]:
s2.loc[:'b']

a    1
b    3
dtype: int64

## fancy indexing

In [28]:
s2

a    1
b    3
x   -5
y   -7
c    9
dtype: int64

In [29]:
s2[['a', 'b', 'c']]  # s2.loc[['a', 'b', 'c']]와 동일

a    1
b    3
c    9
dtype: int64

In [30]:
s2.iloc[[0, 1, 4]]

a    1
b    3
c    9
dtype: int64