<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

*   tuple: 저장된 아이템들을 변경할 수 없는 리스트.
*   인덱스 기반의 데이터 타입
    *   indexing: 해당 인덱스 위치의 아이템 값을 읽음.
    *   slicing: 해당 인덱스 범위의 아이템들로 이루어진 튜플을 만듦.
*   append(), pop(), ... 등과 같은 아이템을 추가하거나 삭제하는 함수(메서드)를 제공하지 않음.

In [2]:
numbers = (1, 2, 10, 20, 1, 2, 2)
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 10, 20, 1, 2, 2)

In [3]:
# tuple.count(value): tuple에서 value가 몇 개 있는 지를 리턴(반환).
numbers.count(2)

3

In [4]:
# tuple.index(value): tuple에서 value의 인덱스를 리턴(반환). 같은 값이 여러개 있으면 가장 먼저 나오는 인덱스.
numbers.index(2)

1

## indexing

In [5]:
numbers

(1, 2, 10, 20, 1, 2, 2)

In [6]:
numbers[0]  # 튜플 numbers의 첫번째 아이템

1

In [7]:
numbers[-1]  # 튜플 numbers의 마지막 아이템

2

## slicing

In [9]:
numbers[:3]  # 튜플 numbers에서 앞에서 3개 아이템을 잘라냄.

(1, 2, 10)

In [11]:
numbers[-3:]  # 튜플 numbers에서 끝에서 3개 아이템을 잘라냄.

(1, 2, 2)

## decomposition (분해)

In [12]:
integers = (1, 2, 3)
# x = integers[0]
# y = integers[1]
# z = integers[2]

x, y, z = integers
print(x, y, z)

1 2 3

In [13]:
names = ['홍길동', '오쌤']
# person1 = names[0]
# person2 = names[1]

person1, person2 = names
print(person1, person2)

홍길동 오쌤

## tuple과 for 반복문

In [14]:
for x in (1, 10, 2, -20, 100):
    print(x)

1
10
2
-20
100

In [16]:
matrix = (
    (1, 2, 3),
    (4, 5, 6)
)
print(matrix)

((1, 2, 3), (4, 5, 6))

In [17]:
matrix[0]

(1, 2, 3)

In [18]:
matrix[0][0]

1

In [19]:
for row in matrix:
    for x in row:
        print(x, end='\t')
    print()

1	2	3
4	5	6