<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료 형(Python Data Type)



*   숫자 타입
    *   정수: int
    *   실수: float
*   문자열 타입: str
*   논리 타입: bool

In [2]:
# 변수 n에 정수 123을 저장
n = 123
# 변수 n을 출력
print(n)
# 변수 n의 타입을 출력
print(type(n))

123
<class 'int'>

In [3]:
pi = 3.141592  # 변수 pi에 값 3.141592를 저장(할당)
print(pi)  # 변수 pi에 할당된 값을 출력
print(type(pi))  # 변수 pi의 타입의 출력

3.141592
<class 'float'>

In [4]:
s = '안녕하세요'
print(s)
print(type(s))

안녕하세요
<class 'str'>

논리 타입: 참(True) 또는 거짓(False)을 저장하는 타입.

In [9]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

In [11]:
b = 10 < 5
print(b)

False

# 명시적 타입 변환(explicit type conversion)

*   `int(arg)`: 아규먼트로 전달된 값을 정수로 변환하는 함수.
    *   문자열 -> 정수
    *   실수 -> 정수
*   `float(arg)`: 아규먼트로 전달된 값을 실수로 변환하는 함수.
    *   문자열 -> 실수
    *   정수 -> 실수
*   `str(arg)`: 아규먼트로 전달된 값을 문자열로 변환하는 함수.
    *   정수, 실수, ... -> 문자열

In [14]:
num_str = '1004'
print(type(num_str))  #> str
num = int(num_str)  # 문자열을 정수로 변환해서 변수 num에 저장(할당)
print(type(num))  #> int
print(num)

<class 'str'>
<class 'int'>
1004

In [15]:
pi_int = int(pi)
print(type(pi_int))
print(pi_int)

<class 'int'>
3