<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문

## 문법

```
for 변수 in iterable-type:
    반복해서 실행할 코드 블록
```

*   iterable-type: 반복(iteration)이 가능한 데이터 타입.
    *   str(문자열), range, list, tuple, dict, ...
*   for 반복문은 iterable-type의 객체에서 원소들을 하나씩 순서대로 꺼내서 변수에 저장하고, 코드 블록을 수행.
*   for 반복문은 iterable-type이 객체에서 더이상 꺼낼 원소가 없을 때 반복을 종료.

In [1]:
for x in '안녕하세요!':
    print(x)

안
녕
하
세
요
!

## `range()` 함수와 for 반복문

In [2]:
# range(start, stop): iteration할 때마다 start <= x < stop 범위의 1씩 증가하는 정수를 생성함.
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [3]:
# range(stop): iteration을 할 때마다 0 <= x < stop 범위의 1씩 증가하는 정수를 생성함.
for x in range(5):
    print(x)

0
1
2
3
4

In [4]:
# range(start, stop, step): step이 양수인 경우, start <= x < stop 범위의 step 만큼씩 증가하는 정수를 생성함.
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

In [6]:
# range(start, stop, step): step이 음수인 경우, start >= x > stop 범위의 step 만큼씩 감소하는 정수를 생성함.
for x in range(5, 0, -1):
    print(x)

5
4
3
2
1

1 이상 10 미만의 홀수들을 내림차순으로 출력: 9 7 5 3 1

In [7]:
for x in range(9, 0, -2):
    print(x)

9
7
5
3
1

아래와 같이 출력하세요.
```
*
**
***
****
*****
```

In [8]:
for n in range(1, 6):
    print('*' * n)

*
**
***
****
*****

아래와 같이 출력하세요.
```
*****
****
***
**
*
```

In [9]:
for n in range(5, 0, -1):
    print('*' * n)

*****
****
***
**
*