<a href="https://colab.research.google.com/github/JakeOh/202504_itwill_oracle88/blob/main/python03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문

## else 없는 조건문

```
if 조건식:
    조건식을 만족할 때 실행할 코드 블록(문장들)
```

*   `if 조건식` 뒤에는 반드시 콜론(:)을 써야 함. 블록 시작을 의미.
*   if 블록은 반드시 들여쓰기(indentation)를 해야 됨.
*   들여쓰기의 크기는 일정해야 함.

In [ ]:
age = int(input('몇 살이세요? '))
if age >= 0:
    print(f'당신은 {age}살이군요.')
print('=== end ===')

몇 살이세요? -20
=== end ===

## else 있는 조건문

```
if 조건식:
    조건식을 만족할 때 실행할 코드 블록 (1)
else:
    조건식을 만족하지 못할 때 실행할 코드 블록 (2)
```

*   조건식을 만족하면 (1) 블록을 실행. 조건을 만족하지 못하면 (2) 블록을 실행.
*   `if 조건식`과 `else` 다음에는 반드시 콜론(:)을 써야 함.
*   if 블록(1)과 else 블록(2)은 반드시 들여쓰기를 해야 함.
*   들여쓰기의 크기는 일정해야 됨.

In [ ]:
age = int(input('몇 살이세요? '))
if age >= 0:
    print(f'당신은 {age}살이군요.')
else:
    print('나이를 잘못 입력하셨어요.')
print('=== end ===')

몇 살이세요? -1
나이를 잘못 입력하셨어요.
=== end ===

In [ ]:
# 정수를 입력받아서 변수에 저장
number = int(input('정수 입력>>> '))

if number % 2 == 0:
    # 입력받은 정수가 짝수이면 '짝수'라고 출력
    print('짝수')
else:
    # 그렇지 않으면 '홀수'라고 출력
    print('홀수')

정수 입력>>> 100
짝수

Falsy Value: 파이썬에서 거짓(False)로 취급하는 값.

*   숫자 0
*   빈 문자열('', "")
*   빈 리스트([])
*   None(변수에 값을 할당하지 않을 때 사용하는 파이썬 예약어)

In [ ]:
number = int(input('정수 입력>>> '))
if number % 2:
    # 변수 number를 2로 나눈 나머지가 있으면
    print('홀수')
else:
    # 나머지가 없으면
    print('짝수')

정수 입력>>> 1234
짝수

## chained conditionals

```
if 조건식1:
    (조건식1)이 True인 경우 실행할 블록
elif 조건식2:
    (조건식2)이 True인 경우 실행할 블록
...
else:
    위의 조건식들이 False일 때 실행할 블록
```

*   모든 블록들은 같은 크기로 들여쓰기를 해야 함.
*   `elif 조건식` 블록은 1개 이상이 있을 수 있음.
*   else 블록은 생략할 수 있음.

In [ ]:
number = float(input('숫자 입력>>> '))
if number > 0:
    print('양수')
elif number < 0:
    print('음수')
else:
    print('zero')

숫자 입력>>> -1
음수

## 중첩 조건문

*   if 블록, elif 블록, 또는 else 블록 안에서 또다른 조건문(if 문, if-else 문, if-elif-else 문)을 사용하는 것.
*   들여쓰기를 특히 주의!
*   들여쓰기 방식에 따라서 전혀 다른 로직의 실행문이 될 수 있음.
*   논리 연산자(and, or)를 사용하는 문장 또는 elif 블록을 중첩 조건문으로 바꿀 수 있음.

In [ ]:
number = float(input('숫자 입력>>> '))
if number > 0:
    print('양수')
else:
    if number < 0:
        print('음수')
    else:
        print('zero')

숫자 입력>>> -123
음수

연습문제:

1. 정수를 3개 입력받고 각각 변수에 저장
2. 3개 정수의 총점, 평균을 계산하고 출력
3. 평균이 90 이상이면 'A', 80 이상이면 'B', 70 이상이면 'C', 60 이상이면 'D', 60 미만이면 'F'라고 출력.

In [ ]:
score1 = int(input('점수 1 입력>>> '))
score2 = int(input('점수 2 입력>>> '))
score3 = int(input('점수 3 입력>>> '))

total = score1 + score2 + score3
print(f'총점 = {total}')
mean = total / 3
print(f'평균 = {mean}')

if mean >= 90:
    print('A')
elif mean >= 80:
    print('B')
elif mean >= 70:
    print('C')
elif mean >= 60:
    print('D')
else:
    print('F')

점수 1 입력>>> 71
점수 2 입력>>> 80
점수 3 입력>>> 74
총점 = 225
평균 = 75.0
C

# match 문


```
match 변수(식):
    case 값1:
        변수(식)의 결과가 값1인 경우 실행할 코드 블록
    case 값2:
        변수(식)의 결과가 값2인 경우 실행할 코드 블록
    ...
```

In [ ]:
day = int(input('0 ~ 6 사이의 정수 입력>>> '))
match day:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')

0 ~ 6 사이의 정수 입력>>> 6
토요일

In [ ]:
day = int(input('0 ~ 6 사이의 정수 입력>>> '))
match day:
    case 1 | 2 | 3 | 4 | 5:
        print('학원 가야함.')
    case 0 | 6:
        print('주말.. 잘 놀아야지...')

0 ~ 6 사이의 정수 입력>>> 0
주말.. 잘 놀아야지...

In [ ]:
day = int(input('0 ~ 6 사이의 정수 입력>>> '))
match day:
    case 1 | 2 | 3 | 4 | 5:
        print('평일')
    case 0 | 6:
        print('주말')
    case _:  # 위에서 나열된 case들 이외의 나머지 전부
        print('숫자를 잘못 입력했어요...')

0 ~ 6 사이의 정수 입력>>> 123456789
숫자를 잘못 입력했어요...

# 난수(random number) 생성 방법

In [ ]:
import random  # 난수 생성 기능(함수)들을 가지고 있는 random 모듈을 사용.

In [ ]:
random.random()  # random.random(): 0 <= x < 1 범위의 실수 난수를 생성.

0.9970323124115305

In [ ]:
random.randrange(0, 3)  # random.randrange(start, stop): start <= x < stop 범위의 정수 난수를 생성.

0

In [ ]:
random.randrange(3)  # random.randrange(stop): 0 <= x < stop 범위의 정수 난수를 생성.

0

# 연습문제

가위, 바위, 보 게임의 승패를 출력:

*   가위(1), 바위(2), 보(3)
*   컴퓨터 - 1 이상 3 이하(4 미만)의 정수 한 개를 생성하고 변수에 저장.
*   사용자 - 1 이상 3 이하의 정수를 입력받아서 변수에 저장.
*   승패(조건문 작성) 출력.

In [ ]:
computer = random.randrange(1, 4)  # 1 <= x < 4 정수 난수.
print(f'computer = {computer}')

computer = 1

In [ ]:
print('=== 가위 바위 보 ===')
print('[1] 가위')
print('[2] 바위')
print('[3] 보')
user = int(input('선택>>> '))
print(f'user = {user}')

=== 가위 바위 보 ===
[1] 가위
[2] 바위
[3] 보
선택>>> 2
user = 2

In [ ]:
if user == 1:  # 사용자가 가위를 낸 경우
    if computer == 1:  # 컴퓨터가 가위를 낸 경우
        print('비김')
    elif computer == 2:  # 컴퓨터가 바위를 낸 경우
        print('컴퓨터 승')
    else:  # 컴퓨터가 보를 낸 경우
        print('사용자 승')
elif user == 2:  # 사용자가 바위를 낸 경우
    if computer == 1:  # 컴퓨터가 가위를 낸 경우
        print('사용자 승')
    elif computer == 2:  # 컴퓨터가 바위를 낸 경우
        print('비김')
    else:  # 컴퓨터가 보를 낸 경우
        print('컴퓨터 승')
else:  # 사용자가 보를 낸 경우
    if computer == 1:  # 컴퓨터가 가위를 낸 경우
        print('컴퓨터 승')
    elif computer == 2:  # 컴퓨터가 바위를 낸 경우
        print('사용자 승')
    else:  # 컴퓨터가 보를 낸 경우
        print('비김')

사용자 승

In [ ]:
if user == computer:  # 비긴 경우
    print('비김')
elif (user == 1 and computer == 3) or (user == 2 and computer == 1) or (user == 3 and computer == 2): # 사용자가 이긴 경우
    print('사용자 승')
else:  # 그 이외의 나머지(컴퓨터가 이긴 경우)
    print('컴퓨터 승')

사용자 승

In [ ]:
check = user - computer
if check == 0:
    print('비김')
elif (check == -2 ) or (check == 1):
    print('사용자 승')
else:
    print('컴퓨터 승')

사용자 승